@model AdminSiteUseMVC.ViewModel.Admin.ForgotPasswordModel
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "ForgotPassword";
}
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        @localizer["If You Are Registered With Us"], <br />
                        @localizer["We Have Sent An Email on Your Registered Email Id"]
                    </p>
                </div>
            }
            else
            {
                <p>@localizer["Forgot Your Password? No Worries You Can Reset It Easily."]</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@localizer["Continue"]</button>
                    </div>
                </form>
            }
            <div>
                <p>Back To<a asp-action="LogIN" asp-controller="AdminAccount">@localizer["Login"]</a></p>
            </div>
        </div>

    </div>
 </div>
    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
