@model IEnumerable<AdminSiteUseMVC.ViewModel.Categories.CategoryViewModel>
@inject IViewLocalizer localizer
@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}
@if(isRTL)
{
<p>
    <a asp-action="Create" class="btn btn-outline-success mt-2">@localizer["Create New Category"]</a>
</p>
<table class="table text-center table-hover">
    <thead>
        <tr class="bg-dark text-light">

            @*<th>
                @Html.DisplayNameFor(model => model.NameEN)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NameAR)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @*<td>
                    @Html.DisplayFor(modelItem => item.NameEN)
                </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.NameAR)
                </td>
                

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">@localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">@localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">@localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}else
{
        <p>
        <a asp-action="Create" class="btn btn-outline-success mt-2">@localizer["Create New Category"]</a>
    </p>
    <table class="table text-center table-hover">
        <thead>
            <tr class="bg-dark text-light">

                <th>
                @Html.DisplayNameFor(model => model.NameEN)
            </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.NameAR)
                </th>*@

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>

                    <td>
                    @Html.DisplayFor(modelItem => item.NameEN)
                </td>

                        @*<td>
                        @Html.DisplayFor(modelItem => item.NameAR)
                        </td>*@


                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">@localizer["Edit"]</a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">@localizer["Details"]</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">@localizer["Delete"]</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>

}